
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new mandal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style3.css">
<body>
    <form action="/add-mandal" method="post">
        <div class ="container-fluid">
            <div class="row">
          <div class="col-sm-3 mb-3 mb-sm-0 my-2">
            <div class="card border-dark text-center">

        <label for="entered__name">Enter mandal name</label><br>
        <input type = "text" id="entered_name" name ="entered_name" placeholder="mandal name"><br>

        <div class="card-footer bg-transparent border-success">
        <input type="submit">
        </div>
  </div>
        </div>
            </div>
        </div>
    </form>    
</body>
</html>