
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new mandal</title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style3.css">
<body>
    <form action="/add-mandal" method="post">
        <label for="entered__name">Enter mandal name</label><br>
        <input type = "text" id="entered_name" name ="entered_name" placeholder="mandal name"><br>
        <input type="submit">
    </form>    
</body>
</html>