<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
    <title>Welcome</title>
</head>
<body>
    <h1>User Dashboard</h1>
    <a href="add-mandal" class="btn">add</a>
    <a href="/logout" class="btn">logout</a>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>view</th>
          <!-- <th>Delete</th> -->
        </tr>
      </thead>
      <tbody>
          <% html_data.forEach(row => { %>
            <tr>
              <td><%= row.name %></td>
              <td> <a href="family/<%=row.id%>" class="btn2">View</a></td>
              <!-- <td> <a href="delete-mandal/<%= row.id%>" class="btn2">Delete</a></td> -->
            </tr>
          <% }); %>
      <tbody>
      <script>
      </script>
    </table>
</body>
</html>