
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  h1 {
    margin: 20px;
  }
  
  .navbar-custom {
    height: 80px; /* or any other desired height */
  }

  